/*pie de pagina*/

.footer{ 
    min-height: 10vh;
    margin-top: 10vh;
    p{
        font-family: 'Raleway', sans-serif;
        color: #c38500;
        font-size: 1.3em;
        margin-bottom: 0.5rem;
        text-align: center;
    }
}

/*Media queries*/

@media screen and (max-width: 675px){
    .footer p{
        font-size: 1.5em;
    }
}