/*Estilos barra de navegación */
.menu{
    display: flex;
    min-height: 10vh;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0% auto;
    padding: 0 2rem;
    img{
        height: 6vw;
        min-height: 60px;
    }
    ul{
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        gap: 2rem;
        flex-basis: 65%;
        justify-content: space-around;
        margin-top: 1vw;
    }
    .nav-link{
        text-decoration: none;
        color: #c38500;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
        padding: 1rem;
        text-align: center;
        border-style: solid;
        border-radius: 1rem;
        border-width: 2px;
        border-color: #00000000;
        transition: all 1s;
        &:hover{
            border-color: #c38500;
            color: #c38500;
        }
    }
    .active{
        border-color: #c38500;
        color: #c38500;
    }
    .nav-icons{
        display: flex;
       a{
           padding: 1rem;
           color: #c38500;

       }
    }
}

/*Media queries*/

@media screen and (max-width: 675px){
    .menu{
        flex-direction: column; 
        img{
            height: 15vw;
            min-height: 50px;
        }
    }
   
}