/*Imports*/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/*Normalize*/

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*globals*/

html{
    font-size: 62.5%;
    body{
        background-image: linear-gradient(to left bottom, #264f6d, #313851, #2c2534, #1d151b, #000000);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
}